.proviewbox{
    /*float:left;*/
    width:435px;
    position:relative;
    z-index:20;}

.probigshow{
    position:relative;
    /*10-9*/
    width:435px;height:435px;
    /*end*/
    padding:1px;
    border:1px solid #ddd;}
.probigshow .span_showtip{
    position:absolute;
    top:0;left:0;
    width:81px;height:81px;
    text-indent:-999em;overflow:hidden;}
.probigshow .showtip_1{background-position:0 0;}
.probigshow .showtip_2{background-position:0 -81px;}

.probigshow a.a_probigshow{cursor:crosshair;}

.zoomplepopup{
    position:absolute;
    top:0;
    left:0;
    display:none;
    /*10-9*/
    background: #FEDE4F;
    border:1px solid #ddd;
    overflow:hidden;
    opacity: 0.2;
    filter: alpha(opacity = 20);
    /*end*/
    z-index:10;
    cursor:crosshair;
    /*	height:50px;
    width:50px;*/}

#probig_preview{
    position:absolute;
    visibility:hidden;
    top:-1px;left:437px;
    /*10-9*/
    width:437px;height:437px;
    /*end*/
    background:#fff;
    border:1px solid #ddd;
    overflow:hidden;}
#probig_preview img{
    position:relative;}

.div_prothumb{
    padding: 15px 25px 0;
    position: relative;}

.thumbporbox{
    position:relative;
    /*10-9*/
    width:351px;
    /*end*/
    overflow:hidden;
    _left: 25px}

.div_prothumb .span_prev,.div_prothumb .span_next{
    position:absolute;
    top:20px;
    width:17px;height:54px;overflow:hidden;
    cursor:hand;cursor:pointer;}
.div_prothumb .span_prev{background: url("../images/to_leftImg.gif") center no-repeat;left: 0;}
.div_prothumb .span_next{background: url("../images/to_rightImg.gif") center no-repeat;right: 0;}

.ul_prothumb{position:relative;width:7500px; overflow:hidden; }
.ul_prothumb li{
    float:left;
    width:71px;height:64px;
    text-align:center;}

.ul_prothumb img{
    padding:1px;
    border:1px solid #DCDCDC;}
.ul_prothumb li.now img{border:1px solid #ffa679;}