.content_main{margin: 0 auto;width: 1188px}

.content_main_all p{color: #fff;background-color: #f95706;height: 42px;line-height: 42px}
.content_main_all span{float: left;height: 42px;text-align: center;font-size: 20px;font-weight: bold;}
.vip_center{width: 208px;border: 1px solid #f95706;border-bottom: 0;border-top: 0}
.address_manage{margin-left: 15px;width: 100px}
.content_main_all .add_address{color: #fff;font-size: 14px;font-weight: bold;margin-left: 10px;line-height: 45px}


.vip_manage{float: left;}

.manage_all_address{margin-left: 15px;float: left;width: 963px;border-top: 0;}

/*手风琴*/
ul{list-style: none}
.accordion_list{border: 2px solid #f95706;border-top: 0;width: 206px;height: 225px;overflow: hidden}
.accordion_list .open ul{display: block}
.accordion_list .open p i{background :url('../images/my_page_toDown.png') center no-repeat}
.accordion_list div{width: 206px;}
.accordion_list_out p{height: 41px;line-height: 41px;_margin: 0;text-indent: 78px;font-weight: bold;cursor: pointer;color: #323232;
    background: url("../images/my_page_list.png") center no-repeat}
.accordion_list_out ul li{text-align: center;font-weight: normal;padding-left: 0;
    line-height: 41px;height: 41px;background: #fff;border-top: 1px dashed #d6d6d6}
.accordion_list_out ul{display: none;}
.accordion_list_out p i{float: right;height: 41px;width: 14px;background: url("../images/my_page_toRight.png") center no-repeat;
                           margin-right: 35px;*margin-top: -41px}
.accordion_list_out a{color: #2b2a2a}


.get_address_title{position: absolute;background: url("../images/prompt.gif") no-repeat;width: 116px;height: 27px;top: -13px;left: 25px;
                     text-align: center;line-height: 27px;color: #f97e55;font-size: 14px}

/*推荐*/
.goods_prompt{position: relative;border: 1px solid #cbcbcb;margin-top: 30px}
.prompt{margin: 0 auto;height: 145px;padding: 45px 0;width: 800px;overflow: hidden}
.prompt_goods{width: 800px;overflow: hidden;height: 160px;}
.prompt ul{width: 2000px}
.prompt ul li{float: left;width: 200px;text-align: center}
.prompt ul li p{text-align: center;line-height: 40px;background: none;color: #474747}

.prompt_left{position: absolute;left: 50px;top: 95px;width: 29px;height: 56px;background: url("../images/prompt_left.png") no-repeat}
.prompt_right{position: absolute;right: 50px;top: 95px;;width: 29px;height: 56px;background: url("../images/prompt_right.png") no-repeat}