/* 清除浮动 */

.clear-float::after {
    content: '';
    width: 0;
    display: block;
    clear: both;
}

.content img {
    width: 100%;
}

.content img:hover {
    transform: none;
    transition: none;
}

.list {
    width: 100%;
    background: url(http://www.jyeyw.com/huodong/20190821/img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 90vh;
    padding: 40px 0;
}

.list ul {
    width: 1300px;
    padding: 30px;
    margin: 0 auto;
    background: #f2eae2;
}

.list ul li {
    width: 600px;
    padding: 34px;
    margin-top: 20px;
    background: url(http://www.jyeyw.com/huodong/20190821/img/goods_bg.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 40px;
}

.list ul li:nth-child(2n+2) {
    margin-right: 0;
}
.list ul li:first-child,
.list ul li:nth-child(2){
    margin-top: 0;
}
.list ul li .thumb {
    width: 240px;
    overflow: hidden;
    float: left;
    border-radius: 60px;
}

.list ul li .thumb img {
    width: 100%;
}

.list ul li .goods-info {
    font-size: 18px;
    color: #9e6c37;
    letter-spacing: 1.5px;
}

.list ul li .goods-info p {
    margin-top: 8px;
}

.list ul li .goods-info .name {
    font-size: 30px;
    margin-top: 0;
}

/* 价格 */
.list ul li .goods-info .jg{

}
.list ul li .goods-info .jg .hdj {
    color: #ff0000;
    font-weight: bold;
}

.list ul li .goods-info .jg .hdj>span {
    padding:0 2px;
    border: 1px solid #ff0000;
    font-weight: normal;
    font-size: 16px;
}
.list ul li .goods-info .jg .yj{
    color: #3e3a3a;
    font-size: 14px;
}
/* 按钮 */

.list ul li .goods-info .btn-box {
    margin-top: 10px;
}

.list ul li .goods-info .btn-box::after, .list ul li .goods-info .btn-box .jiajian::after {
    content: '';
    clear: both;
    width: 0;
    display: block;
}

.list ul li .goods-info .btn-box .jiajian {
    float: left;
}

.list ul li .goods-info .btn-box .jiajian input {
    width: 30px;
    height: 30px;
    border: 1px solid #9e6c37;
    text-align: center;
    float: left;
}

.list ul li .goods-info .btn-box .jiajian .jiajian_btn {
    float: left;
    margin-left: 3px;
    line-height: 12px;
}

.list ul li .goods-info .btn-box .jiajian .jiajian_btn .jia {
    cursor: pointer;
}

.list ul li .goods-info .btn-box .jiajian .jiajian_btn .jian {
    cursor: pointer;
}

.list ul li .goods-info .btn-box .add-cart {
    height: 30px;
    margin-left: 15px;
    padding: 0px 15px;
    float: left;
    cursor: pointer;
    border: 1px solid #9e6c37;
    line-height: 30px;
    font-size: 16px;
    background: #9e6c37;
    color: #fff;
    border-radius: 15px;
}

.list ul li .goods-info .btn-box .add-cart img {
    margin-bottom: 3px;
}