/* quick_links 右侧导航和浮动导航样式*/
.quick_links_wrap,.mui-mbar-tabs{height:100%;width:36px;right:0;position:fixed;right:0;bottom:0;z-index:9;height:100%;-webkit-transition:width linear .4s;-moz-transition:width linear .4s;-ms-transition:width linear .4s;transition:width linear .4s;_position:fixed;_bottom:auto;_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10);z-index: 9999999;}
.quick_links_wraper.quick_links_dockright{margin-left:0;left:auto;right:4px;}
.mui-mbar-tabs i,.ibar_closebtn,.login_order,.login_favorite{display:inline-block;cursor:pointer;height:40px;width:36px;position:absolute;}
.quick_links_panel{width:36px;height:100%;position:absolute;background:#262626;z-index:2;top:0;right:0;}	
.quick_links_panel a{display:block;}
.quick_links_panel .tip_txt{width: 116px;height: 41px;position: absolute;left: 0 ;top:0;background-color: #7e7d7d !important;}

.quick_links_panel a.my_qlinks{width:36px;height:40px;position: right;background-color: #262626;*margin-left:-16px;}

.quick_links_panel .quick_toggle{position:absolute;bottom:0;left:0;width:40px;background:#262626;z-index:1;}
.quick_links_panel .mp_tooltip{height:40px;width:116px;position:absolute;z-index:2;left:-150px;top:0;background:#262626;color:#d8d8d8;text-align:center;display:block;visibility:hidden;}

.quick_links_panel .mp_qrcode{padding:10px;width:148px;height:175px;top:-157px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.4);border-radius:5px 0 0 5px;border-left:1px solid #ccc\0;border-top:1px solid #ccc\0;border-bottom:1px solid #ccc\0;z-index:3;position:absolute;left:-168px;left:-169px\0;display:none;}
.quick_links_panel .icon_arrow_white{position:absolute;right:-5px;top:172px;width:5px;height:9px;background-position:0 -253px;}
.quick_links_panel .icon_arrow_right_black{position:absolute;right:-6px;top:13px;width:6px;height:10px;overflow:hidden;background: url(../images/right-ico2.png) no-repeat;}
.quick_toggle .return_top{display:none;}
.quick_links_allow_gotop .return_top{display:block;}
.quick_links{position:absolute;top:40%;left:0;margin-top:-190px;*margin-top:-220px;	background:#262626;z-index:2;width:36px;}
.quick_links a.message_list{background:url(./images/ibar_sprites.png) no-repeat;line-height:16px;height:130px;background-position:-23px -225px;color:#fff;margin:20px 0 10px;}
.quick_links_min .quick_links_panel{right:280px;}
.quick_links li,.quick_toggle li{position:relative;display:block;left:0;top:0px;}
.history_list,.leave_message,.mpbtn_wdsc{margin-bottom:6px;}
 .quick_links a.current,.quick_toggle a:hover{background:#f9a104;text-decoration:none;}
.quick_links a.message_list .span{width:16px;display:block;height:48px;margin:38px 0 30px 12px;cursor:pointer;font-size: 12px;color: #fafecc;line-height: 16px;font-weight: bold;}
.quick_links a.message_list .cart_num{width:22px;height:22px;display:block;border-radius:50%;background:#ffffff;text-align:center;line-height:22px;margin:-18px 0 0 7px;cursor:pointer;color:#f9a104;font-weight: bold;font-size: 12px;}
.quick_links i.setting{background-position:0 0;width:18px;height:19px;top:10px;left:11px;}
.quick_links .current i.setting{background-position:-33px 0;}
.quick_links i.message{background-position:0px -26px;width:32px;height:22px;top:11px;left:5px;}
.quick_links .current i.message{background-position:-33px -29px;}
.quick_links i.cart{background-position:0px -29px;}
.quick_links i.view{width:18px;height:18px;background-position:0 -57px;top:10px;left:11px;}
.quick_links a:hover i.view,.quick_links .current i.view{background-position:-33px -57px;}
.quick_links .qa{width:18px;height:15px;background-position:0 -85px;top:11px;left:11px;}
.quick_links a:hover i.qa,.quick_links .current i.qa{background-position:-33px -85px;}
.quick_links .zuji{width:11px;height:24px;background-position:-4px -110px;top:8px;left:14px;}
.quick_links a:hover i.zuji,.quick_links .current i.zuji{background-position:-36px -110px;}
.quick_links .chongzhi{background:url(./images/chongzhi.png) no-repeat;width:35px;height:35px;top:2px;left:3px;}
.quick_links .wdsc{background:url(../images/new-sprite.png) -164px -95px  no-repeat;width:36px;height:40px;top:0px;left:0px;}

.quick_links .mpbtn_wdsc3 .wdsc3{background:url(../images/myyaoyigou.png)  no-repeat;width:28px;height:112px;}

.quick_links .mpbtn_wdsc2 .wdsc2{background:url(../images/bar_3.png) no-repeat;width:28px;height:80px;}

.quick_toggle .wdsc6{background:url(../images/dibu06.png) no-repeat;width:36px;height:40px;}
.mpbtn_wdsc2{width: 36px;height: 80px;padding: 10px 4px;*margin-left: -15px;}
.mpbtn_wdsc3{width: 36px;height: 112px;padding: 10px 5px;*margin-left: -15px;}



.wdsc4{background:url(../images/new-sprite.png) -106px 0px no-repeat;width:36px;height:40px;}
.wdsc5{background:url(../images/new-sprite.png) -106px -52px no-repeat;width:36px;height:40px;}

.quick_toggle .mpbtn_qrcode{width:18px;height:18px;top:11px;left:11px;background-position:0 -302px;}
.quick_toggle .top{background-position:0 -201px;width:17px;height:14px;top:12px;left:12px;}
.quick_toggle a:hover .top, .quick_links a.current .top{background-position:-33px -201px;}
.quick_toggle i.kfzx{width:30px;height:30px;top:6px;left:7px;background-position:0 -70px;}


.mui-mbar-tabs i.setting2{background:url(../images/new-sprite.png) no-repeat -164px 0;width:36px;height:40px;display: block;}

.mpbtn_wdsc{width: 36px;height: 40px;*margin-left: -16px;}


.quick_links_pop{position:absolute;top:0;right:0;display:none;box-shadow:0 0 5px #999; border-radius:5px 0 0 5px;border:1px solid #999;behavior:url(js/htc.htc);}
.quick_links_pop .arrow, .quick_links_pop .arrow i{display:none;border-color:transparent #ddd;border-style:dashed solid;border-width:12px 0 12px 12px;font-size:0;height:0;width:0;position:absolute;left:100%;top:12px;}
.quick_links_pop .arrow i{border-color:transparent #f9fafc;margin:-12px 0 0 -13px;left:0;top:0;}
.quick_links_pop .fix_bg{display:none;border-top-width:0;border-radius:0 0 3px 3px;margin:0 0 -4px -250px;height:2px;width:500px;overflow:hidden;position:absolute;bottom:0;left:50%;}
.quick_links_pop .pop_panel{font-size:12px;width:100%;height:628px;position:relative;}
.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks, .quick_message_list,.quick_leave_message,.quick_mpbtn_wdsc{position:absolute;width:280px;left:0;top:0;background:#fff;height:100%;display:block;}
.quick_cart_list .user_cart_inner, .quick_history_list .history_slider{display:block;border:0;margin:0;position:static;}
.quick_cart_list .user_cart_inner .del{display:none;}
.quick_history_list .title i{background-position:-170px -34px;}
.quick_leave_message .title i{background-position:-160px 0;}
.quick_leave_message .types{font-size:0;position:absolute;left:148px;top:18px;white-space:nowrap;}
.quick_leave_message .types input, .quick_leave_message .types label{font-size:12px;margin-right:20px;vertical-align:middle;white-space:nowrap;}
.quick_leave_message .types input{margin:-2px 3px 0 0;height:13px;width:13px;*margin-top:0;}
.quick_leave_message .txt{padding:15px 0;}
.quick_leave_message .txt textarea{display:block;background:#fff;border:1px solid #e8e8e8;border-radius:3px;box-shadow:0 1px 0 #fff, inset 0 1px 4px rgba(0,0,0,.1);margin:0 auto;padding:8px;height:68px;width:90%;}
.quick_leave_message .token{padding:0 0 14px 16px;height:26px;}
.quick_leave_message .token input{background:#fff;border:1px solid #ddd;padding:3px 4px;width:76px;vertical-align:middle;}
.quick_leave_message .token img{margin-left:5px;vertical-align:middle;}
.quick_leave_message .btns{float:right;margin-top:-42px;padding-right:16px;}
.quick_leave_message .btn{background-position:0 -356px;cursor:pointer;font-size:0;padding-left:20px;text-shadow:0 1px 0 #355ba9;overflow:visible;}
.quick_leave_message .btn:hover{background-position:0 -386px;}
.quick_leave_message .btn span{background-position:100% -356px;font-size:12px;padding-right:20px;*height:29px;}
.quick_leave_message .btn:hover span{background-position:100% -386px;}
.quick_links_pop .no_data{color:#333;font-size:14px;padding:35px 10px;text-align:center;}
.quick_links_pop .no_data i{display:inline-block;background:url(./images/cart_new.png) no-repeat 0 -188px;margin:0 10px 0 0;height:36px;width:60px;vertical-align:middle;}
.quick_links_pop .links li{border-top:1px solid #f1f1f1;vertical-align:top;}
.quick_links_pop .links a{display:block;background:#FCFCFC;color:#333;font-size:14px;padding:12px 15px;}
.quick_links_pop .links a:hover{background-color:#F2F3F4;color:#4467a7;}
.quick_links_pop .links .tips{float:right;color:#61c2ed;font-size:12px;}
.quick_my_qlinks .title i{background-position:-200px 0;height:22px;width:22px;}
.quick_message_list .title i{background-position:-200px -34px;height:22px;width:22px;}
.quick_message_list .no_data i{background-image:url(./images/quick_links_no_msg.png);background-position:0 0;height:45px;width:62px;}
.hover-color{background-color: #3ebb2b !important;}

.ibar_login_box{position: relative;display: none;}


.ibar_login_box .online_service{position: absolute;left: -194px;top:-41px;width: 194px;height: 194px;}
.ibar_login_box .online_service a{position: absolute;width: 70px;height: 70px;left: 62px;top:58px;background-color: transparent !important;}
.ibar_login_box .ico{width: 6px;height: 10px;background: url(../images/right-ico.jpg) no-repeat;left: 0px;top: -30px;}

.ibar_login_box .shoujiapp{position: absolute;left: -158px;top:-175px;width: 158px;height: 175px;}
.ibar_login_box .shoujiapp a{position: absolute;width: 70px;height: 70px;left: 62px;top:58px;background-color: transparent !important;}

/* #louceng-box{position: fixed;left: 30px;top: 160px;display: none;}
#louceng-box ul li{width: 36px;height: 45px;position: relative;}
#louceng-box ul li .num{color: #666;}
#louceng-box ul li .word{display: none;width: 84px;height: 44px;left: 38px;top:0;position: absolute;} */

#fixedNavBar{position: fixed;left: 30px;top: 300px;display: none;}
#fixedNavBar ul{width: 36px;height: 185px;overflow: hidden;border: 1px solid #3ebb2b;border-bottom: 0;}
#fixedNavBar ul li{width: 36px;height: 36px;overflow: hidden;float: left;margin-bottom: 1px;}

#fixedNavBar ul li .num{display: block;color:#4c4b4b;position: absolute;width: 36px;height: 36px;line-height: 36px;
    text-align: center;overflow: hidden;background-color: #fff;border-bottom: 1px solid #3ebb2b;}

#fixedNavBar ul li .word{display: none;position: absolute;width: 36px;height: 36px;line-height: 36px;
    text-align: center;overflow: hidden;background-color: #3ebb2b;color: #fff;border-bottom: 1px solid #3ebb2b;}

#fixedNavBar ul li .num:hover{background-color: #3ebb2b;color: #fff;}




 .saoma{  position: fixed;  _position: absolute;  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-280+"px");  bottom: 50px;  left: 5px;
    width: 137px;  zoom: 1;  height: 238px;  z-index: 99999;  }
.saoma-box{position: relative}
.saoma-box span{position: absolute;top:12px;right: 12px;width: 20px;height: 20px;cursor: pointer;}


body{_position: relative;_height: 100%;}
.zzsc { position:fixed;top:50%; left:50%;margin:-205px 0 0 -300px;width:600px; height:400px; display: none;z-index: 9999;}
.content_tj .close{width: 17px;height: 17px;position: absolute;right: 0px;top:0;_right:0;}
.content_tj .ad{width:600px; height:400px;}
.content_tj img{border:2px solid #fff;}
.content_mark{ width:100%; height:100%; left:0; top:0; z-index:999; background:#000; opacity:0.4;filter:alpha(opacity=40); display:block;position:fixed;}



.letterfx-container{}

.letterfx{
    display:inline-block;
    margin:0;
    padding:0;
    transition: all 1s; -ms-transition: all 1s; -webkit-transition: all 1s;
}

/* Spin FX */
.letterfx-spin-before{
    transform:rotate(3600deg); -ms-transform:rotate(3600deg); -webkit-transform:rotate(3600deg);
}

.letterfx-spin-after{
    transform:none;
}

/* Fade FX */
.letterfx-fade-before{
  opacity: 0;
}


/* Grow FX */
.letterfx-grow-before{
    transform:scale(0,0); -ms-transform:scale(0,0); -webkit-transform:scale(0,0);
}

.letterfx-grow-after{
    transform:none;
}


/* Smear FX */
.letterfx-smear-before{
    color: transparent;
    text-shadow:-1px -1px 25px transparent;
}

.letterfx-smear-after{
    color:inherit;
    text-shadow:0 0 #333;

}

/* Fall FX */
.letterfx-fall-before
{
    visibility: hidden;
    transform:scale(3,3); -ms-transform:scale(3,3); -webkit-transform:scale(3,3);
}

.letterfx-fall-after{
    transform:scale(1,1); -ms-transform:scale(1,1); -webkit-transform:scale(1,1);
    text-shadow:0;
}

/* Swirl FX */
.letterfx-swirl-before
{
    visibility: hidden;
    transform:scale(3,3) rotate(3600deg); -ms-transform:scale(3,3) rotate(3600deg); -webkit-transform:scale(3,3) rotate(3600deg);
}

.letterfx-swirl-after{
    transform:none
    text-shadow:0;
}


/* Wave FX */
.letterfx-wave-container .letterfx
{
    position:relative;
}

.letterfx-wave-before
{
    bottom:0;
}

.letterfx-wave-after{
    bottom:15px;
}



/* FLY FX */
.letterfx-fly-left-container .letterfx,
.letterfx-fly-right-container .letterfx,
.letterfx-fly-top-container .letterfx,
.letterfx-fly-bottom-container .letterfx
{
    position:relative;
}

.letterfx-fly-left-before{ left:-50em; }
.letterfx-fly-left-after{ left:0; }

.letterfx-fly-right-before{ right:-50em; }
.letterfx-fly-right-after{ right:0; }

.letterfx-fly-top-before{ top:-20em; }
.letterfx-fly-top-after{ top:0; }

.letterfx-fly-bottom-before{ bottom:-20em; }
.letterfx-fly-bottom-after{ bottom:0; }

.i-sidebarcom-cart {
    margin: -1px auto 0;
    width: 36px;
    border-top: 1px solid #4c4c4c;
    background-position: -164px -130px;
}


