.right {
    background: #fff;
    min-height: 890px;
    padding-bottom: 20px;
}

.zhaijisong {
    min-height: 600px;
    width: 940px;
    margin: 10px auto 0 auto;
    border: 1px solid #e5e5e5;

    overflow: hidden;
}

.zhaijisong_title {
    height: 41px;
    line-height: 41px;
    background: #f8f9fb;
    border-bottom: 1px solid #e5e5e5;
}

.zhaijisong_title li {
    float: left;
    width: 33.3333333%;
    height: 41px;
    line-height: 41px;
    text-indent: 20px;
    font-size: 14px;
    color: #666;
}

.zhaijisong_title li span {
    font-size: 14px;
    margin-left: 15px;
}

.zhaijisong_content {
    width: 230px;
    float: left;
}

.zhaijisong_content .danhao, .danhao_list li, .zhaijisong_zt_title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    color: #050303;
    font-size: 18px;
}

.danhao_list li {
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}

.danhao_list li.active {
    background: #3dbb2b;
    color: #fff;
}

.danhao_list li .fr {
    height: 50px;
    line-height: 50px;
    width: 26px;
}

.zhaijisong_zt {
    border-left: 1px solid #e5e5e5;
    float: left;
    width: 708px;
}

.zhaijisong_zt_title {
    text-align: left;
    text-indent: 35px;
}

.zhaijisong_zt_title .fr {
    margin-right: 20px;
}

.zhaijisong_zt_title .fr a {
    color: #4478ec;
}

.express {
    display: none;
    overflow: hidden;
    padding-bottom: 20px;
}

.zhaijisong_zt ul.active {
    display: block;
}

.express li .lf {
    position: relative;
    width: 62px;
    height: 100%;
    float: left;
}

.express li.end .lf .xian, .express li.start .lf .xian {
    position: absolute;
    right: 0;
    top: 26px;
    width: 17px;
    height: 36px;
    border-left: 1px solid #e5e5e5;
}

.express li.start .lf .xian {
    top: 0 !important;
}

.express li .lf .xian {
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
}

.express li.end .lf .xian img {
    position: absolute;
    top: -6px;
    left: -7px;
}

.express li .lf .xian img {
    position: absolute;
    top: 24px;
    left: -5.5px;
}

.express li .rg {
    width: 645px;
    border-bottom: 1px solid #e5e5e5;
    float: left;
}

.express li .rg .fl {
    text-indent: 15px;
    height: 58px;
    width: 110px;
}

.express li .rg .fl p {
    line-height: normal;
}

.express li .rg .fl p:first-child {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.express li .rg .fl p:first-child + p {
    color: #666;
}

.express li .rg .fr {
    float: right;
    width: 525px;
    padding: 18px 0;
    font-size: 14px;
    margin-right: 10px;
}

.express li.end .rg .fl p, .express li.end .rg .fr {
    color: red !important;
}

.express li.last .rg .fl p, .express li.last .rg .fr {
    color: #2aa118 !important;
}

.express li.last .xian, .express li.end .xian {
    height: 100% !important;
}

.express li {
    margin-top: -3px \9;
}

.express li:hover p, .express li:hover div {
    color: #3dbb2b !important;
}

.express li.end .fr {
    color: #333 !important;
}

.right_title .fr span {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 6px;
    font-weight: normal;
    color: #3dbb2b;
}

.right_title .fr img {
    margin: 0;
    vertical-align: middle !important;
}
