body,ul,li,ol,img{
	margin: 0;
	padding: 0;
	font-size: 12px;
	position: relative;
	font-family:"microsoft yahei";
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}


.cuxiao-box{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.tg-nav{
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 160px;
	z-index: 3;
}
.kuang{
	height: 80px;
	margin: 0 auto;
}
.tg-nav-box{
	height: 80px;
	margin: 0 auto;
}
.fixnav1{
	/*margin:0 auto;*/
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	*left: auto;
	*right: auto;
	z-index: 3;
	height: 80px;
}
.nav-mrjx,.nav-xstj,.nav-bpms,.nav-xfmj,.nav-czhg,.nav-jpmz,.nav-cjcx,.nav-xqpz{
	width: 105px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: white;
	font-size: 18px;
	color: #666666;
	margin-left: 45px;
	position: relative;
	display: inline;
	float: left;
	cursor: pointer;
	text-decoration:none;
}
.on{
	background: #ee4848;
	color: white;
}
.nav-before{
	border-bottom: 80px solid #fff;
	border-left: 45px solid transparent;
	position: absolute;
	left: -45px;
	top: 0;
	*top: -80px;
}

.nav-after{
	border-top: 80px solid #fff;
	border-right: 45px solid transparent;
	position: absolute;
	left: 105px;
	top: 0;
}


/*每周精选开始*/
#mrjx{
	width: 100%;
	margin-top: 70px;
	position: relative;
	/*border: 1px solid red;*/
}

.meizhou-remaintime,.xianshi-remaintime,.xfmj-remaintime{
	width: 125px;
	height: 24px;
	position: absolute;
	left: 536px;
	top: 43px;
}
.meizhou-remaintime span,.xianshi-remaintime span,.xfmj-remaintime span{
	font-size: 16px;
	color: white;
}
.meizhou-day,.meizhou-minute,.meizhou-hourse,.meizhou-secound,.xianshi-day,.xianshi-minute,.xianshi-hourse,.xianshi-secound,.xfmj-minute,.xfmj-hourse,.xfmj-secound{
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 2px;
}
.meizhou-day,.xianshi-day{
	left:0px;
}
.meizhou-hourse,.xianshi-hourse{
	left:35px;
}
.xfmj-hourse{
	left: 18px;
}
.meizhou-minute,.xianshi-minute{
	left:69px;
}
.xfmj-minute{
	left:52px;
}
.meizhou-secound,.xianshi-secound{
	left:103px;
}
.xfmj-secound{
	left:86px;
}
/*每日精选产品*/
.top-time-content{
	margin-top: 25px;
	margin-left: -5px;
}
.top-time-content ul li{
	width: 390px;
	height: 180px;
	display: inline;
	display: inline-block;
	*float: left;
	margin-left: 9px;
	margin-top: 10px;
	background: #f1f1f1;
}
.top-time-content .img-box{
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin: 10px 0 0 10px;
	float: left;
}
.img-box-content{
	width: 180px;
	height: 160px;
	margin: 10px 0 0 20px;
	float: left;
	position: relative;
}
.img-box-content span:first-child{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.img-box-content span:first-child+span,.img-box-content span:first-child+span+span{
	display: block;
	color: #666666;
	margin-top: 5px;
}
.meiri-img{
	font-size: 24px;
	font-weight: bold;
	color: #ff5d5d;
	display:inline-block;
	margin-top: 15px;
	padding-top: 0px;
}
.meiri-img img{
	vertical-align: middle;
	border: 0;
	margin-top: -5px;
	*margin-top: 0px;
}
.img-box-content a div{
	width: 175px;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	color: white;
	background: #ff5d5d;
	margin-top: 15px;
	*margin-top: 13px;
}
/*每日精选产品*/
/*每周精选结束*/

/*限时特价开始*/
#xstj{
	width: 100%;
	margin-top: 30px;
	position: relative;
}
.xstj-content ul,.xfmj-content ul,.czhg-content ul,.jpmz-content ul,.xqpz-content ul{
	margin-top: 10px;
}
.xstj-content ul li,.xfmj-content ul li,.czhg-content ul li,.jpmz-content ul li,.xqpz-content ul li{
	width: 278px;
	height: 438px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	*float: left;
	margin-left: 17px;
	margin-top: 20px;
	overflow: hidden;
}
.xstj-content ul li:first-child,.xfmj-content ul li:first-child,.czhg-content ul li:first-child,.jpmz-content ul li:first-child,.xqpz-content ul li:first-child{
	margin-left: 10px;
}
.xstj-content ul li:first-child+li+li+li+li,.xfmj-content ul li:first-child+li+li+li+li,.czhg-content ul li:first-child+li+li+li+li,.jpmz-content ul li:first-child+li+li+li+li,.xqpz-content ul li:first-child+li+li+li+li{
	margin-left: 10px;
}
.xstj-content .img-box,.xfmj-content .img-box,.czhg-content .img-box,.jpmz-content .img-box,.xqpz-content .img-box{
	width: 278px;
	height: 278px;
	/*border-bottom: 1px solid #cecece;*/
	overflow: hidden;
}
.xstj-content .mz,.xfmj-content .mz,.czhg-content .mz,.jpmz-content .mz,.xqpz-content .mz{
	font-size: 16px;
	font-weight: bold;
	color: white;
	width: 250px;
	height: 38px;
	line-height: 30px;
	text-align: center;
	background: #383342;
	margin: 0 auto;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	position: relative;
}
.ml{
	*margin-top: 5px;
}
.xstj-content .mz hr,.xfmj-content .mz hr,.czhg-content .mz hr,.jpmz-content .mz hr,.xqpz-content .mz hr{
	position: absolute;
	bottom: -4px;
	left: 105px;
	width: 40px;
	height: 1px;
	background-color: white;
	/* border: 1px solid white; */
	border: none;
}
.xstj-content .xq,.xfmj-content .xq,.czhg-content .xq,.jpmz-content .xq,.xqpz-content .xq{
	width: 278px;
	height: 160px;
	background: #383342;
	
}
.xstj-content .xq div:first-child,.xfmj-content .xq div:first-child,.czhg-content .xq div:first-child,.jpmz-content .xq div:first-child,.xqpz-content .xq div:first-child{
	/*display: inline-block;*/
	text-align: center;
	height: 30px;
	line-height:30px;
	color: #999999;
}
.xstj-content .xq div:first-child+div,.xfmj-content .xq div:first-child+div,.czhg-content .xq div:first-child+div,.jpmz-content .xq div:first-child+div,.xqpz-content .xq div:first-child+div{
	/*display: inline-block;*/
	text-align: center;
	height: 20px;
	line-height:20px;
	color: #999999;
}
.xstj-jiage,.xfmj-jiage{
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #ff5d5d;
	position: relative;
	margin-top: 15px;
}
.xstj-jiage span{
	color: #999999;
	font-size: 14px;
	text-decoration: line-through;
}
.xstj-content .xq img,.xfmj-content .xq img,.czhg-content .xq img{
	vertical-align: middle;
	margin-top: -5px;
	*margin-top: 0px;
}
.xq a{
	width: 220px;
	height: 36px;
	display: block;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background: #ff5d5d;
	font-size: 14px;
	*position: absolute;
	*bottom:0px;
	*left: 30px;
	margin: 18px auto;
}
#xstj .readmore{
	display: block;
	width: 228px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #ec2b2b;
	border: 1px solid #e5e5e5;
	margin: 30px 0 0 485px;
}
/*限时特价结束*/

/*爆品秒杀开始*/
#bpms{
	width: 100%;
	position: relative;
	margin-top: 50px;
	/*border: 1px solid red;*/
}
.shuoming div,.shijian div{
	font-size: 14px;
	color: #666666;
}
.shijian,.changci{
	margin-top: 3px;
}
#bpms ul li{
	width: 200px;
	height: 260px;
	/*border: 1px solid red;*/
	display: inline-block;
	*float: left;
	margin-left: 20px;
	margin-top: 10px;
	/*overflow: hidden;*/
	
}
.bpms-imgbox{
	width: 200px;
	height:200px;
	border: 1px solid #e5e5e5;
	position: relative;
}
.bpms-imgbox img{
	position: absolute;
}
.bpms-imgbox-text{
	width: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	color: #666666;
}
.bpms-imgbox-text span:first-child{
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.bpms-imgbox:hover{
	border: 1px solid #ff5d5d;
}
#bpms ul li:first-child{
	margin-left: 0;
}
.bpms-content{
	width: 180px;
	position: relative;
	padding-top: 5px;
	margin: 0 auto;
}

.bpms-content img{
	vertical-align: middle;
	margin-top: -11px;
}
.bpms-content-2{
	color: #999999;
	font-size: 14px;
	text-decoration: line-through;
	margin-left: 10px;
}
.bpms-content-1{
	color: #ff5d5d;
	font-weight: bold;
	font-size: 24px;
}
.bpms-kucun{
	margin-top: 5px;
	color: #666666;
	font-size: 12px;
}
.bpms-kucun span:first-child{
	color: #f32b2b;
	margin-left: 10px;
}
.readmore{
	width: 198px;
	height: 40px;
	display: block;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #ec2b2b;
	text-align: center;
	margin: 30px auto;
}
/*爆品秒杀结束*/


/*消费满减开始*/
#xfmj{
	margin-top: 60px;
	*margin-top: 30px;
	width: 100%;
	position: relative;
}
.xfmj-jieshao{
	width: 1180px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	background: #ffd6d6;
	color: #a91212;
	font-size: 16px;
	margin-top: 20px;
}
.xfmj-jieshao span{
	margin-left: 20px;
}
/*消费满减结束*/

/*超值换购开始*/
#czhg{
	margin-top: 10px;
	width: 100%;
	position: relative;
}
.czhg-jiage{
	color: #dddddd;
	font-size: 14px;
	position: relative;
}
.huodong{
	display: inline-block;
	width: 30px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	background: #201a2d;
	color: red;
	font-size: 12px;
	*margin: 10px 0 12px 12px;
	margin: 12px 0 12px 12px
}
.jiage-content{
	position: absolute;
	top: 3px;
	*top: -8px;
	right: 20px;
	color: #dddddd;
	font-size: 14px;
	width: 215px;
}
.jiage-content span{
	color: #ff0000;
	font-size: 20px;
}
.czhg-content ul li .xq a{
	*bottom: -5px;
}
/*超值换购结束*/

/*精品买赠开始*/
#jpmz{
	width: 100%;
	position: relative;
	margin-top: 40px;
	*margin-top: 10px;
}
#jpmz .jiage-content,#xqpz .jiage-content{
	*margin-top: 1px !important;
}
.jpmz-content .jiage-content{
	top: 10px;
	*top: -3px;
}
/*精品买赠结束*/

/*厂家促销开始*/
#cjcx{
	width: 100%;
	position: relative;
	margin-top: 40px;
	*margin-top: 10px;
}
.content1-title,.content2-title{
	font-size: 16px;
	font-weight: bold;
	margin-top: 15px;
	display: inline-block;
	cursor: pointer;
	*float: left;
}
.content2-title{
	margin-left: 20px;
}
.cjcx-content1-box,.cjcx-content2-box{
	width: 100%;
	height: 380px;
	border: 1px solid #ff5d5d;
	position: absolute;
	top: 85px;
	left: 0;
}
.cjcx-content2{
	display: none;
}
.cjcx-content1-box img:first-child{
	position: absolute;
	top: -10px;
	left: 33px;
}
.cjcx-content2-box img:first-child{
	position: absolute;
	top: -10px;
	left: 135px;
}
.cjcx-content1-box a,.cjcx-content2-box a{
	width: 240px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	display: inline-block;
	border-radius: 30px;
	position: absolute;
	bottom: 27px;
	right: 180px;	
	font-size: 48px;
	color: transparent;
}
/*厂家促销结束*/

/*效期品种开始*/
#xqpz{
	position: relative;
	width: 100%;
}
.warning{
	width: 1178px;
	border: 1px solid #e5e5e5;
	margin: 20px 10px 0px 10px
}
.xqpz-content ul li .xq .czhg-jiage .jiage-content{
	top: 10px;
	*top: -3px;
}
.xqpz-content ul li .xq .czhg-jiage .jiage-content span{
	color: #ff0000;
	font-size: 14px;
}
/*效期品种结束*/


/*所有专区鼠标悬停显示边框*/
.xstj-content ul li:hover,.xfmj-content ul li:hover,.czhg-content ul li:hover,.jpmz-content ul li:hover,.xqpz-content ul li:hover{
	border: 1px solid #ff5d5d;
}

/*查看更多按钮样式*/
.readmore{
	position: relative;
}
.readmore-box{
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 0px;
	left: 0;
	overflow: hidden;
}
.readmore-1{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 1;
	filter: Alpha(opacity:100);
	transition: .1s all linear;
}
.readmore-2{
	width: 100%;
	position: absolute;
	top: 15px;
	left: 0;
	display: block;
	opacity: 0;
	filter: Alpha(opacity:0);
	transition: .1s all linear;
}
.readmore-box:hover{
	background:red;
	color: white!important;
}
.readmore:hover .readmore-1{
	margin-top: -15px;
	opacity: 0;
	filter: Alpha(opacity:0);
	transition: .1s all linear;
}
.readmore:hover .readmore-2{
	margin-top: -15px;
	opacity: 1;
	filter: Alpha(opacity:100);
	transition: .1s all linear;
}
