#content .container_box{
	padding-bottom: 120px;
}
.problem_q{
	height: 24px;
	line-height: 24px;
	font-size: 16px;
}
.problem_q span,.problem_a span{
	display: inline-block;
	width: 24px;
	text-align: center;
	color: #fff;
	background: #ffba19;
	font-weight: bold;
	margin: 0 10px;
	font-size: 16px;
}
.problem_a{
	margin: 25px 0;
	overflow: hidden;
}
.problem_a span{
	background: #3285fa;
	float: left;
	line-height: 24px;
}
.problem_ct{
	float: left;
	width: 1116px;
	color: #666666;
	font-size: 14px;
	line-height: 28px;
}
