
.container *, body, html {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "microsoft yahei";
    color: #333;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 1200px;
}

img {
    border: none;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

ol, ul, li {
    list-style: none;
}

a, input, select, label, span {
    text-decoration: none;
    color: inherit;
}

a {
    *blr: expression(this.onFocus=this.blur());
}

input[type="button"] {
    cursor: pointer;
}

input {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    cursor: pointer;
    vertical-align: middle;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

/*内容*/
.container {
    width: 100%;
}

.container .container_box {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*头部*/
#header {
    height: 40px;
    line-height: 40px;
    background: #f1f1f1;
    position: relative;
    z-index: 63;
}

#header .login_before .login {
    display: inline-block;
    width: 46px;
    height: 27px;
    line-height: 27px;
    background: #54d53b;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 0 20px 0 10px;
}

#header .login_before .reg {
    color: #666;
}

.login_before, .login_after, .appyyg {
    float: left;
}

.Province {
    cursor: pointer;
    width: 70px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
}

.Province:hover {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: #fff;
    color: #3dbb2b;
}

.right_list li.hover:hover .icon i, .Province:hover .icon i, .appyyg:hover i.myicon {
    background-position: -377px -80px !important;
}

.Province .header_add {
    margin-right: 2px;
    position: relative;
    top: 1px;
    vertical-align: baseline;
}

span.icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    position: relative;
[;
    vertical-align: middle;
]
}

span.icon i.myicon {
[;
    position: absolute;
] [;
    top: 0;
]
}

.Province .add_choose {
    position: absolute;
    display: inline-block;
    width: 70px;
    left: -1px;
    top: 40px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    background: #fff;
}

.Province .add_choose a {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
}

/*登陆后*/
.login_after .userid {
    display: inline-block;
    color: #3dbb2b;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    *height: 41px;
}

.login_after .out {
    color: #777;
}

.login_after .myyyg {
    display: inline-block;
    width: 88px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    background: #3dbb2b;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15px;
}

#header .right_list {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    border: none;
}

#header .right_list li {
    float: left;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    color: #666;
    cursor: pointer;
    margin: 10px 0 0 -1px;
    position: relative;
    font-family: "宋体";
}

#header .right_list li:hover a, #header .right_list li:hover {
    color: #3dbb2b !important;
}

#header .yyg_erweima {
    position: relative;
    top: -1px;
    *top: 1px;
    margin-right: 5px;
}

#header .right_list li a.color {
    color: #bb8d2b;
}

#header .right_list li.guanggao {
    border-right: 1px solid #e5e5e5;
}

#header .right_list li.hover:hover {
    height: 41px;
    line-height: 40px;
    margin-top: 0;
}

#header .right_list li.hover:hover .hover_box, .Province:hover .add_choose, .appyyg:hover .hover_box {
    display: block;
}

#header .right_list li.hover:hover .icon img:first-child {
    display: none;
}

.appyyg {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.appyyg .hover_box {
    width: 228px;
    height: 310px;
    left: 0px;
    background: #fff;
}

#header .right_list li.app_yyg .hover_box, #header .right_list li.tel .hover_box, #header .right_list li.help .hover_box, .appyyg .hover_box {
    position: absolute;
    top: 41px;
    right: -1px;
    border-top: none !important;
    display: none;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

#header .right_list li.tel .hover_box {
    width: 145px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666666;
    font-family: "宋体";
}

#header .right_list li.help .hover_box {
    padding: 10px 5px;
    width: 87px;
}

#header .right_list li.app_yyg .hover_box {
    width: 99px;
}

#header .right_list li.help .hover_box li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    float: none;
    margin: 0;
}

#header .right_list li.help .hover_box li a {
    color: #333 !important;
}

#header .right_list li.help .hover_box li:hover, #header .right_list li.help .hover_box li:hover a {
    background: #3DBB2B;
    color: #fff !important;
}

#header .right_list li a {
    font-family: "宋体";
    color: #666;
}

/*头部*/
/*搜索*/
#search {
    height: 120px;
    position: relative;
    z-index: 62;
}

.search_top {
    height: 120px;
}

.search_top .img_box {
    height: 120px;
    line-height: 120px;
    text-align: center;
    width: 210px;
    float: left;
}

.search_top .img_box img {
    vertical-align: middle !important;
}

.input_box {
    float: left;
    padding: 30px 0 0 100px;
    position: relative;
}

.result_box {
    position: absolute;
    width: 410px;
    top: 71px;
    border: 1px solid #3dbb2b;
    border-top: none;
    background: #fff;
    z-index: 70;
    padding: 5px;
    display: none;
}

#fixed_search .result_box {
    top: 50px !important;
}

.result_box li {
    color: #333;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #F3F3F3;
    cursor: pointer;
    padding: 0 5px;
}

.result_box li:hover {
    background: #C4FFAA;
}

.input_box input[type=text] {
    width: 410px;
    height: 42px;
    padding-left: 10px;
    color: #777;
    border: 1px solid #3dbb2b;

}

.search_btn {
    width: 80px;
    height: 42px;
    background: #3dbb2b;
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #fff;
}

.input_box .hot {
    margin-top: 5px;
}

.input_box .hot a {
    color: #f52547;
    margin-right: 15px;
}

.gwc_box {
    margin-top: 30px;
    overflow: hidden;
}

.gwc_box img {
    margin-right: 5px;
}

.gwc_box .dd, .gwc_box .gwc {
    width: 140px;
    text-align: center;
    border: 1px solid #cecece;
    height: 42px;
    line-height: 42px;
}

.gwc_box .dd {
    width: 112px;
    margin-right: 10px;
    *line-height: 44px;
}

.gwc_box img {
    position: relative;
    top: -3px;
    *top: -2px;
}

.gwc_box .dd span, .gwc_box .gwc span {
    font-size: 14px;
    color: #777777;
}

.gwc_box .gwc .sl span {
    color: #fff;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background: #ff1919;
    margin-left: 5px;
}

.gwc_box a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.gwc_box p {
    text-align: right;
    margin-top: 48px;
}

.gwc_box p a {
    color: #bb8d2b;
    font-family: "宋体";
}

/*搜索*/
/*nav*/
#nav {
    height: 40px;
    border-bottom: 2px solid #3dbb2b;
    position: relative;
    z-index: 61;
}

.nav_list li:hover a {
    color: #3dbb2b;
}

#nav .fenlei {
    width: 210px;
    background: #3dbb2b;
    height: 42px;
    line-height: 40px;
    text-indent: 10px;
    cursor: pointer;
}

#nav .fenlei img {
    position: relative;
    top: -2px;
    *top: -1px;
}

#nav .fenlei span {
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

.nav_list, .nav_list li, #nav .fenlei {
    float: left;
}

.nav_list li {
    height: 40px;
    line-height: 40px;
    margin-left: 35px;
}

.nav_list li a {
    font-size: 16px;
}

.nav_list li.active a {
    color: #3dbb2b;
    font-weight: bold;
}

.gif_phone {
    float: right;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
}

.gif_phone img {
    vertical-align: baseline;
}

/*菜单*/
.site_content {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 70;
    display: none;
}

.menu_title {
    font-family: "宋体";
    color: #555;
}

.menu_list {
    width: 210px;
    height: 480px;
    border-bottom: 1px solid #e5e5e5;
}

.menu_list_children {
    height: 40px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #fff;
}

.menu_list_children:last-child {
    height: 39px;
}

.menu_list_children:last-child:hover {
    height: 40px;
}

.menu_list_children .text {
    line-height: 40px;
    height: 40px;
    width: 95%;
    margin: 0 auto;
    border-top: 1px dashed #e5e5e5;
    position: relative;
}

.menu_list_children .text:first-child {
    border-top: none;
}

.menu_list_children .text .img_box_left {
    width: 40px;
    text-align: center;
    float: left;
    height: 40px;
}

.menu_list_children .text .img_box_right {
    position: absolute;
    right: -11px;
    *right: -13px;
    top: 0;
    display: none;
    /*border: 1px solid red;*/
    height: 40px;
}

.menu_list_children:hover {
    background: #3dbb2b;
    border-left: 1px solid #3dbb2b;
    border-right: 1px solid #3dbb2b;
    width: 211px;
}

.menu_list_children:hover .img_box_left i {
    background-position-x: -739px !important;
}

.menu_list_children:hover .menu_title {
    color: #fff;
}

.menu_list_children:hover .category_list, .menu_list_children:hover .img_box_right {
    display: block;
}

.category_list {
    position: absolute;
    top: 0;
    left: 210px;
    min-height: 480px;
    width: 750px;
    border: 1px solid #3dbb2b;
    display: none;
    border-top: none;
    background: #fff;
}

.category_list .category_list_title {
    width: 100px;
    text-align: right;
    margin-top: 30px;
    color: #3ebb2b;
    font-family: "宋体";
}

.category_list .notitle {
    float: left !important;
}

.category_list .ct {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.category_list .notitle_ct {
    float: left;
    width: 600px !important;
    margin-top: 30px;
}

.category_list .ct span.category_list_title_left {
    width: 100px;
    text-align: right;
    display: inline-block;
    color: #333;
    font-family: "宋体";
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    float: left;
}

.category_list_link {
    float: left;
    line-height: 12px;
    margin: 0 25px;
    width: 590px;
    border-bottom: 1px dashed #c1c1c1;
    margin-bottom: 30px;
}

.category_list_link a {
    display: inline-block;
    font-family: "宋体";
    margin: 0 15px 15px 0;
    color: #666666;
}

.category_list_link a:hover {
    color: #3dbb2b;
}

/*nav*/
/*尾部*/
#footer {
    padding-bottom: 25px;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
}

.footer_top {
    height: 300px;
    border-bottom: 1px solid #cccccc;
}

.footer_top .help_list {
    overflow: hidden;
    float: left;
}

.footer_top .help_list li {
    float: left;
    margin-left: 33px;
    width: 170px;
}

.footer_top .help_list li:first-child {
    margin-left: 20px;
}

.footer_top .help_list li p:first-child span {
    color: #666666;
    font-size: 16px;
}

.footer_top .help_list li p {
    margin-top: 16px;
    text-indent: 30px;
}

.footer_top .help_list li p:first-child {
    margin: 35px 0 5px 0;
    text-indent: 0px;
}

.footer_top .help_list li p a {
    font-family: "宋体";
}

.footer_top .help_list li p a:hover, .footer_bottom p a:hover {
    text-decoration: underline;
}

.footer_top .erweima {
    float: right;
    margin: 20px 20px 0 0;
}

.footer_top .erweima li {
    border: 1px solid #efefef;
    padding: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.footer_top .erweima li .img_box {
    float: left;
}

.footer_top .erweima li .text {
    margin-left: 15px;
    float: left;
}

.footer_top .erweima li .text p {
    width: 210px;
}

.footer_top .erweima li .text p.title {
    font-size: 16px;
    font-weight: bold;
}

.footer_top .erweima li .text p.ct {
    font-size: 14px;
    margin-top: 10px;
}

.footer_top .erweima li .text p a {
    display: inline-block;
    width: 74px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.footer_top .erweima li .text p a.ios {
    background: url(http://images.hezongyy.com/images/index/ios.jpg);
}

.footer_top .erweima li .text p a.md {
    background: url(http://images.hezongyy.com/images/index/md.jpg);
}

.footer_bottom p {
    color: #666;
    margin-top: 20px;
}

.footer_bottom p a {
    color: #000;
    margin-right: 5px;
}

.footer_bottom_link {
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}

.footer_bottom_link li {
    float: left;
    margin-right: 10px;
}

#footer .icon_box {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin-right: 5px;
}

#footer .icon_box i {
    margin: 0;
}

/*字体图标*/
i.myicon {
    background: url(http://images.hezongyy.com/images/index/myicon.png) center left no-repeat;
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

i.down_icon {
    width: 11px;
    height: 7px;
    background-position: -377px -92px;
}

i.right_icon {
    width: 9px;
    height: 14px;
    background-position: -117px -184px;
}

i.up_icon {
    width: 11px;
    height: 7px;
    background-position: -377px -80px;
}

i.user_icon {
    width: 14px;
    height: 26px;
    background-position: -414px -78px;
}

i.gwc_icon {
    width: 20px;
    height: 24px;
    background-position: -449px -79px;
}

i.menu_icon {
    width: 22px;
    height: 20px;
    background-position: -562px -80px;
}

i.menu_1 {
    width: 26px;
    height: 26px;
    *height: 22px;
    background-position: -687px -77px;
}

i.menu_2 {
    width: 24px;
    height: 26px;
    *height: 22px;
    background-position: -687px -117px;
}

i.menu_3 {
    width: 20px;
    height: 28px;
    *height: 24px;
    background-position: -687px -156px;
}

i.menu_4 {
    width: 23px;
    height: 25px;
    *height: 21px;
    background-position: -687px -197px;
}

i.menu_5 {
    width: 23px;
    height: 23px;
    *height: 19px;
    background-position: -687px -239px;
}

i.menu_6 {
    width: 20px;
    height: 24px;
    *height: 20px;
    background-position: -687px -278px;
}

i.menu_7 {
    width: 21px;
    height: 32px;
    *height: 28px;
    background-position: -687px -314px;
}

i.menu_8 {
    width: 24px;
    height: 22px;
    *height: 18px;
    background-position: -687px -359px;
}

i.menu_9 {
    width: 12px;
    height: 34px;
    *height: 30px;
    background-position: -687px -393px;
}

i.menu_10 {
    width: 16px;
    height: 28px;
    *height: 24px;
    background-position: -687px -436px;
}

i.menu_11 {
    width: 22px;
    height: 26px;
    *height: 22px;
    background-position: -687px -477px;
}

i.menu_12 {
    width: 24px;
    height: 24px;
    *height: 20px;
    background-position: -687px -518px;
}

i.mzjx_icon {
    width: 22px;
    height: 32px;
    *height: 28px;
    background-position: -30px -77px;
}

i.djrx_icon {
    width: 22px;
    height: 28px;
    *height: 24px;
    background-position: -68px -78px;
}

i.wntj_icon {
    width: 20px;
    height: 28px;
    *height: 24px;
    background-position: -145px -80px;
}

i.xpsj_icon {
    width: 22px;
    height: 30px;
    *height: 26px;
    background-position: -106px -77px;
}

i.czhg_icon {
    width: 22px;
    height: 30px;
    *height: 26px;
    background-position: -258px -77px;
}

i.cptj_icon {
    width: 20px;
    height: 30px;
    *height: 26px;
    background-position: -221px -78px;
}

i.jpmz_icon {
    width: 22px;
    height: 30px;
    *height: 26px;
    background-position: -296px -77px;
}

i.jtbj_icon {
    width: 22px;
    height: 32px;
    *height: 28px;
    background-position: -334px -77px;
}

i.zyyp_icon {
    width: 22px;
    height: 34px;
    *height: 30px;
    background-position: -687px -477px;
}

i.readmore_icon {
    width: 28px;
    height: 32px;
    *height: 28px;
    background-position: -112px -141px;
}

i.footer_1 {
    width: 18px;
    height: 24px;
    *height: 20px;
    background-position: -32px -110px;
}

i.footer_2 {
    width: 22px;
    height: 24px;
    *height: 20px;
    background-position: -68px -110px;
}

i.footer_3 {
    width: 22px;
    height: 22px;
    *height: 18px;
    background-position: -106px -110px;
}

i.footer_4 {
    width: 14px;
    height: 24px;
    *height: 20px;
    background-position: -148px -110px;
}

i.footer_5 {
    width: 20px;
    height: 24px;
    *height: 20px;
    background-position: -183px -110px;
}

i.footer_6 {
    width: 20px;
    height: 24px;
    *height: 20px;
    background-position: -221px -110px;
}

i.banner_left_icon {
    width: 10px;
    height: 24px;
    *height: 20px;
    background-position: -492px -78px;
}

i.banner_right_icon {
    width: 10px;
    height: 24px;
    *height: 20px;
    background-position: -530px -78px;
}

i.lb_left_icon {
    width: 24px;
    height: 28px;
    *height: 24px;
    background-position: -30px -141px;
}

i.lb_right_icon {
    width: 24px;
    height: 28px;
    *height: 24px;
    background-position: -68px -141px;
}

#header .right_list li.app_yyg {
    padding: 0;
    margin-top: 8px;
}

#header .right_list li .app_yyg_box {
    background: #3dbb2b;
    color: #fff !important;
    border-radius: 3px;
    height: 24px;
    line-height: 23px;
    width: 100%;
    padding: 0 10px;
    display: inline-block;
}

#header .right_list li.app_yyg:hover .app_yyg_box {
    margin-top: 8px;
    color: #fff !important;
}

i.yyg_down_icon {
    width: 11px;
    height: 7px;
    background-position: -134px -184px;
}

#header .right_list li.app_yyg:hover i.yyg_down_icon {
    background-position: -134px -193px !important;
}

.jia, .jian {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
